<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About</h2>
        <p>Film criticism is the analysis and evaluation of films and the film medium. In general, film criticism can be divided into two categories: journalistic criticism which appears regularly in newspapers, magazines and other popular mass-media outlets; and academic criticism by film scholars who are informed by film theory and are published in academic journals. Academic film criticism rarely takes the form of a review; instead it is more likely to analyse the film and its place within the history of its genre, or the whole of film history.</p>
        <p>Blogging has also introduced opportunities for a new wave of amateur film critics to have their opinions heard. These review blogs may focus on one genre, director or actor, or encompass a much wider variety of films. Friends, friends of friends, or strangers are able to visit these blogsites, and can often leave their own comments about the movie and/or the author's review. Although much less frequented than their professional counterparts, these sites can gather a following of like-minded people who look to specific bloggers for reviews as they have found that the critic consistently exhibits an outlook very similar to their own.</p>
        <p>The main goal of "Movie Blogs" is to add blogs of different cultural movies. So that others can visit the page and read the summary before watching the movie. This site will help others to review the film depending on the genre. Keep the summary as simple as possible.Diverse blogs will be appreciated.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>